* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#FFF5EE;
    height: 100vh;
}

.navBar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    min-height: 7vh;
    border-bottom: 1px solid whitesmoke;
    background-color: pink;
    z-index: 3;
}

.showNavName {
    display: block;
    font-family: 'Caveat', cursive;
    margin-left: 10px;
    font-size: 18px;
}

#navjax {
    color: black;
}

.cartCount {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 4vw;
    height: 4vw;
    border-radius: 20px;
    margin-top: -18px;
    margin-left: 15px;
    background-color: #bcd4e6;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.menuList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    min-width: 18vw;
    align-items: center;
    margin-right: 12px;
}

.dropBox {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.menuButton, .cartButton{
    background: none;
    border: none;
    cursor: pointer;
}

.dropButton svg {
    width: 18px;
    height: 18px;
}

.cartButton i svg {
    width: 24px;
    height: 24px;
}


.dropDown {
    display: none;
}

.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* width: 13vw; */
    width: 9vw;
    /* height: 10vh; */
    height: 5vh;
    margin-top: 2px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    /* border-radius: 3px; */
}

.option {
    /* width: 13vw; */
    width: 9vw;
    height: 5vh;
}
    
#home/* , #about  */ {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    /* width: 13vw; */
    width: 9vw;
    height: 5vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10px;
    text-decoration: none;
    color: black;
    background-color: #FFF5EE;
    border-radius: 3px;
}

#about {
    display: none;
}

#home:hover, #about:hover{
    background-color: #bcd4e6;
    box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
}

.cartBox {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
}

.cartList {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-image:linear-gradient(135deg, #bcd4e6, pink);
    width: 40vw;
    height: 92.8vh;
    margin-top: 7vh;
    margin-bottom: 0vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    animation: slow-out 0.5s ease-out 1;
    border-radius: 5px;
}

@keyframes slow-out {
    0% {
        height: 0;
    } 
    100% {
        height: 92.8vh;
    }
}

.cartTitleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 5vh;
    font-size: 15px;
}

.itemsBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 38vw;
    height: 75vh;
    line-height: 2;
    font-size: 12px;
}

.listBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 38vw;
    list-style: none;
    animation: roll-in 0.5s ease-out 1;
}

@keyframes roll-in {
    0% {
        transform: translateX(130px)
    } 
    100% {
        transform: translateX(0)
    }
}

.cartItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 37vw;
    height: 4vh;
    font-size: 11px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
}

.listItem {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    align-items: center;
    width: 37vw;
    height: 3vh;
}

.iconDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 2vh;
}

.iconElement {
    display: flex;
    cursor: pointer;
    color: black;
}

.cartTotalBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30vw;
}
.checkOutBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 5vh;
    font-size: 15px;
}
.checkOutBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 4vh;
    font-size: 11px;
    background-color: pink;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.5);
    opacity: 1;
    text-decoration: none;
    color: black;
}

.packsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    height: 84vh;
}

.packsList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 84vh;
    width: 70vw;
    list-style: none;
}

.packItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55vw; 
    height: 20vh;
}

.packItem img {
    width: 120px;
    height: 90px;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-content: -webkit-flex;;
    justify-content: --webkit-box; */
    align-items: center;
    background-image:linear-gradient(135deg, #bcd4e6, pink);
    width: 120px;
    height: 90px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.eachPackBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 7vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 11px;
    padding-top: 3px;
}

.sizeBox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
    height: 13vh;
    margin: 5px;
}

.sizeBox select{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vh;
    width: 18vw; 
    margin: 1px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 8px;
    border-radius: 3px;
}

.sizeBox p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 7vh;
    margin: 2px;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5vh;
    width: 13vw;
    font-size: 7px;
    border-radius: 5px;
    background-color: #bcd4e6;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,0.3);
    -webkit-appearance: none;
}

.addBtn:active {
    transform: scale(0.90);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 9vh;
    background-color: pink;
    border-bottom: 1px solid whitesmoke;
}

.contactBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactBox ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.contactBox, .contactBox ul {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 11px;
    color: black;
}

button:hover, select:hover{
    cursor: pointer;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

        @media (min-width: 600px) {
            
            .showNavName {
                margin-left: 20px;
                font-size: 30px;
            }

            .cartCount {
                width: 2vw;
                height: 2vw;
                margin-top: -30px;
                margin-left: 20px;
                font-size: 16px;
            }
            
            .menuList {
                justify-content: space-evenly;
                min-width: 15vw;
            }
            
            .menuButton, .cartButton{
                font-size: 15px;
            }
            
            .dropButton svg {
                width: 24px;
                height: 24px;
            }

            .cartButton i svg {
                width: 32px;
                height: 32px;
            }

            .show {
                /* width: 6vw; */
                width: 4vw;
                /* height: 10vh; */
                height: 5vh;
                margin-top: 5px;
            }

            .option {
                /* width: 6vw; */
                width: 4vw;
                height: 5vh;
            }
                
            #home/* , #about */ {
                /* width: 6vw; */
                width: 4vw;
                font-size: 15px;
                font-weight: 500;
            }

            .cartList {
                height: 93vh;
                width: 20vw;
                animation: slow-out 0.5s ease-out 1;
            }

            @keyframes slow-out {
                0% {
                    width: 0vw;
                } 
                100% {
                    width: 20vw;
                }
            }

            .cartTitleBox {
                width: 15vw;
                height: 7vh;
                font-size: 20px;
            }

            .itemsBox {
                width: 19vw;
                height: 73vh;
                line-height: 2;
            }

            .listBox {
                width: 19vw;
            }

            .cartItem {
                display: flex;
                justify-content: space-evenly;
                align-self: center;
                align-items: center;
                width: 18vw;
                height: 4vh;
                font-size: 18px;
                border: 1px solid black;
                border-radius: 3px;
                margin: 5px;
                padding: 2px;
                box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
            }

            .listItem {
                width: 17vw;
                height: 2vw;
            }
            
            .cartTotalBox {
                width: 15vw;
                font-size: 20px;
            }

            .checkOutBox {
                width: 15vw;
                height: 10vh;
            }

            .checkOutBtn {
                width: 10vw;
                height: 7vh;
                font-size: 22px;
                border-radius: 5px;
            }

            .packsBox  {
                height: 83vh;
                font-size: 20px;
            }
            
            .packsList {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                margin-top: 0vh;
                height: 83vh;
                width: 80vw;
                list-style: none; 
            }
            
            .packItem {
                width: 30vw; 
            }
            
            .packItem img {
                width: 200px;
                height: 230px;
            }

            .textBox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 200px;
                height: 230px;
            }
            
            .eachPackBox {
                width: 12vw;
                font-size: 30px;
                padding-top: 10px;
            }

            .sizeBox {
                justify-content: space-evenly;
                width: 12vw;
                height: 20vh;
            }
            
            .sizeBox select{
                display: flex;
                align-items: center;
                height: 4vh;
                width: 8vw; 
                font-size: 12px;
            }
            
            .sizeBox p {
                font-style: italic;
                font-size: 20px;
            }
            
            .buttonBox {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 8vh;
                width: 12vw;
            }
            
            .addBtn{
                height: 3.5vh;
                width: 5vw;
                font-size: 15px;
            }
            
            footer {
                min-height: 10vh;
            }
            
            .contactBox, .contactBox ul {
                
                font-size: 16px;
                color: black;
            }

        }

