
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./bg.png);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.everythingBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    min-height: 70vh;
    border-radius: 25px;
    border: 1px solid black;
    padding: 30px;
    opacity: 95%;
    font-family: 'Courier Prime', monospace;
}

@media (min-width: 600px) {
    .everythingBox {
        width: 50%;
    }
}

.headerTitle {
    align-self: center;
    min-height: 15vh;
    font-size: 60px;
    font-family: 'Sriracha', cursive;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 20px #FF180F, 0 0 30px #FF180F, 0 0 40px #FF180F, 0 0 55px #FF180F, 0 0 75px #FF180F;
}


.headerBox {
    display: flex;
    min-height: 15vh;
    flex-direction: column;
    justify-content: space-between;
    
}

.instructionList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainBOx {
    display: flex;
}

.chooseBox {
    display: flex;
    min-height: 12vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 15vh;
}

.infoLabel {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.infoLabel input {
    width: 25vw;
}

.sendButton {
    display: flex;
    min-height: 8vh;
    justify-content: center;
    align-items: flex-end;

}
.theSendButton {
    width:10vw;
    background-color: rgb(228, 58, 58);
    border-radius: 25px;
    border: 1px black solid;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    
}

footer {
    display: flex;
    min-height: 13vh;
    align-items: center;
}